html {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100%;
}

body {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.03125em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: white;
}


.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.settings-container {
  width: 322px;
  height: 100%;
  background-color: #DDD;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 100%;
  background-color: #DDD;
}

scale-range {
  position: absolute;
  bottom: 4px;
  left: 8px;
}

grid-settings {
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.divider {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 4px;
  margin-right: 2px;
  border-top: 1px solid #999;
}


/* --- canvas arrea --- */

.canvas-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  background-color: #CCC;
}

.canvas-plane {
  position: absolute;
  top: 0;
  left: 0;
}


.icon-button {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  margin: 4px;
  padding: 6px;
  cursor: pointer;
  user-select: none;
}

.icon-button.selected {
  background-color: #AAA;
  border-radius: 4px;
}

.icon-button-svg {
  display: inline-block;
  margin: 4px;
  padding: 3px 6px;
  cursor: pointer;
  user-select: none;
}

.icon-button-svg.selected {
  background-color: #AAA;
  border-radius: 4px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#mapper-button {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
}
